:root {
  font-size: 62.5%;
  font-family: Verdana, Arial, Helvetica, sans-serif;

  /* Colors */
  --clr-main: #746c5e;
  --clr-secondary: #f3eada;
  --clr-contrast: #9489c5;
  --clr-contrast-secondary: #00b798;
}

html {
  width: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Components */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.img {
  width: 65rem;
  height: auto;
  max-height: 40rem;
  object-fit: fill;
}

.image-carousel {
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.image-carousel__item {
  border-radius: 1.5%;
  overflow: hidden;
}

#meme-1:checked ~ .slider__slide > .image-carousel {
  transform: translateX(0);
}

#meme-2:checked ~ .slider__slide > .image-carousel {
  transform: translateX(-25%);
}

#meme-3:checked ~ .slider__slide > .image-carousel {
  transform: translateX(-50%);
}

#meme-4:checked ~ .slider__slide > .image-carousel {
  transform: translateX(-75%);
}

.text-carousel {
  height: 100%;
  max-height: 3rem;
  transition: all 0.4s ease-in-out;
}

.text-carousel__item {
  vertical-align: middle;
  height: 3rem;
  font-size: 1.8rem;
  color: var(--clr-main);
}

#meme-1:checked ~ .slider__navigation .text-carousel {
  transform: translateY(0);
}

#meme-2:checked ~ .slider__navigation .text-carousel {
  transform: translateY(-100%);
}

#meme-3:checked ~ .slider__navigation .text-carousel {
  transform: translateY(-200%);
}

#meme-4:checked ~ .slider__navigation .text-carousel {
  transform: translateY(-300%);
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
  width: 100%;
  max-width: 65rem;
}

.slider__input {
  display: none;
}

.slider__slide {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.slider__navigation {
  display: flex;
  padding-right: 1rem;
  padding-left: 1rem;
}

.slider__text {
  flex-grow: 6;
  overflow: hidden;
}

.slider__btns {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}

.slider__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.slider__circle {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--clr-contrast-secondary);
  border: solid var(--clr-contrast-secondary) 0.2rem;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.slider__btn:hover > .slider__circle {
  background-color: var(--clr-contrast);
  border-color: var(--clr-contrast);
}

.slider__btn:active > .slider__circle {
  transform: scale(1.4);
}

#meme-1:checked ~ .slider__navigation .slider__btn:first-child > *,
#meme-2:checked ~ .slider__navigation .slider__btn:nth-child(2) > *,
#meme-3:checked ~ .slider__navigation .slider__btn:nth-child(3) > *,
#meme-4:checked ~ .slider__navigation .slider__btn:nth-child(4) > * {
  background-color: transparent;
}

/* Layout */
body {
  width: inherit;
  height: 100vh;
  background: var(--clr-secondary);
}
